.menuWrapper{
    background-color: #234465;
    height: 116px;
    margin: -10px;
}
#navMenu {

    display: inline-block;
    padding: 0px;
    margin: 0px;
    vertical-align: bottom;
    display:table-cell ;
}

#navMenu {
   margin: 0;
    padding: 0;
    float: right;
    vertical-align: bottom;
    display: table-cell;
}

#navMenu ul{
    padding: 0;
    margin: 0
    list-style: none;

    display: inline-block;
}

#navMenu ul li{
    position: relative;
    float: left;
    list-style: none;
    background-color: #234465;


}

#navMenu ul li a{
    text-align: left;
    font-family: Tahoma;
    font-weight: bold;
    display: block;
    width: 250px;
    height: 30px;
    color: white;
    font-family: "Tahoma", sans-serif;
    text-decoration: none;
    line-height: 30px;

}

#navMenu ul ul li a{
    margin-left: 10px;
    padding-left: 15px;


}

#navMenu>ul>li>a{
    margin:0px 10px;
    width: auto;
    height: 32px;
}

#navMenu ul ul{
    position: absolute;
    float: left;
    top: 33px;
    visibility: hidden;
}

#navMenu ul li:hover ul li {
    visibility: visible;
}
#navMenu ul li:hover{
    background-color: lightskyblue;
    border-radius: 5px;
}

#navMenu ul ul li:hover{
    background-color: tomato;
}

img[name="logo"]{
    float: left;
    margin-left: 200px;
    display: table-cell;
    margin-top: 25px;
}
#srch{
    position: relative;
    left: 175px;
    z-index: 200;
}
input[type="search"]{
    height: 30px;
    border-radius: 5px;
}



#uperIco>img,#uperIco>input {
    vertical-align: middle;
}

#menubox{
    float: right;

}

#menubox{
    padding: 0px;
}
.ser{
    margin-top: 15px;
    width: 900px;
    height: 50px;
    display: table-cell;
    float: right;
    margin-right: 200px;
}

.ser #uperIco{
    text-align: right;
}