* {
    padding: 0;
    margin: 0;
}

.t td{
    font-size: 12px;
}
table, th, td{
    border: 1px solid black;
    font-family: "Tahoma";

}

.hb{
height: 5em;
width: 20.9em;
    font-weight: bold;
    color: blue;
    margin: 1px;
    font-size: 35px;

}


.gg{

    color: blue;
    margin: 1px;
    height: 6em;
    width: 14.5em;
    font-size: 25px;
}
.sl{
    height: 6em;
    width: 7em;
    color: blue;

    font-size: 25px;
}
#gm{
    height: 6em;
    width: 14.4em;
    color: blue;

    font-size: 25px;
}
#beer{
    height: 6em;
    width: 21.9em;
    color: blue;
    font-size: 25px;
    text-align: right;
}

.small{
    height: 3.7em;
    width: 10.3em;
    color: blue;
    margin: 1px;
    font-size: 15px;
}
button[type="button"]{

   margin-left: 4px;
   margin-right: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#stable{
margin: 4px;
}